/* simple formatting on the form */

.form1 {
    display: flex;
    flex-direction: column;
}

.form1 input, textarea, button {
    width: 60%;
}

.form1 button {
    margin-bottom: 5%;
}

.form1 input {
    margin-bottom: 1%;
}

input[type="submit"] {
    background-color: blanchedalmond;
    color: black;
}

